# Maven
target/

# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Java compiled files
*.class

# Operating system files
.DS_Store
Thumbs.db

# Log files
*.log

# Verification reports
DetailedReport.json
OverallReport.json